body {
  font-family: Georgia, "Times New Roman", Times, serif;
  position: relative;
  padding: 0;
  height: 100%;
  font-size: 16px;
  line-height: 1.15;
  box-sizing: border-box;
  display: block;
  margin: 0 auto;
  max-width: 1280px;
}

.header {
  position: fixed;
  top: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  font-size: 26px;
  background-color: darkgreen;
  max-width: 1220px;
  min-width: 280px;
  padding-right: 16px;
  padding-left: 16px;
  align-items: center;
  padding: 7px 24px;
  width: 100%;
  height: 56px;
  color: #fff;
}

#search {
  background-image: url(../svg/search.svg);
  background-size: 26px;
  display: inline-block;
  vertical-align: middle;
  width: 26px;
  height: 26px;
  background-position: center center;
  background-repeat: no-repeat;
}